venv
.env
.DS_Store
.idea
**/__pycache__
.mypy_cache
pyd*
nohup.out.
deltestbench/inputs/projects/*
!deltestbench/inputs/projects/README.MD
deltestbench/inputs/RefactoringMiner/artifacts/*
!deltestbench/inputs/RefactoringMiner/README.MD
