venv
.env
.DS_Store
.idea
**/__pycache__
.mypy_cache
pyd*
nohup.out.
deltest/inputs/projects/*
!deltest/inputs/projects/README.MD
deltest/inputs/RefactoringMiner/artifacts/*
!deltest/inputs/RefactoringMiner/README.MD
